@font-face {
  font-display: swap;
  font-family: "Carlito";
  font-style: normal;
  font-weight: 400;
  src: url("carlito-v4-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Carlito";
  font-style: italic;
  font-weight: 400;
  src: url("carlito-v4-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Carlito";
  font-style: normal;
  font-weight: 700;
  src: url("carlito-v4-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Carlito";
  font-style: italic;
  font-weight: 700;
  src: url("carlito-v4-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("jetbrains-mono-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: url("jetbrains-mono-v24-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("jetbrains-mono-v24-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: url("jetbrains-mono-v24-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("inter-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("inter-v20-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("inter-v20-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("inter-v20-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("eb-garamond-v33-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  src: url("eb-garamond-v33-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("eb-garamond-v33-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 600;
  src: url("eb-garamond-v33-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("eb-garamond-v33-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 700;
  src: url("eb-garamond-v33-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: url("alegreya-v41-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: url("alegreya-v41-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 600;
  src: url("alegreya-v41-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 600;
  src: url("alegreya-v41-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: url("alegreya-v41-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: url("alegreya-v41-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("cormorant-garamond-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 400;
  src: url("cormorant-garamond-v21-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("cormorant-garamond-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 600;
  src: url("cormorant-garamond-v21-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("cormorant-garamond-v21-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 700;
  src: url("cormorant-garamond-v21-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("libre-baskerville-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: url("libre-baskerville-v24-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 600;
  src: url("libre-baskerville-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 600;
  src: url("libre-baskerville-v24-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("libre-baskerville-v24-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 700;
  src: url("libre-baskerville-v24-latin-700italic.woff2") format("woff2");
}

/* cinzel-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  src: url("cinzel-v26-latin-regular.woff2") format("woff2");
}
