@font-face {
  font-family: "leoicons";
  src: url("leoicons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.glicon {
  font: normal normal normal 16px/1 leoicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*---------------------
 *  Modifiers
 *-------------------*/

@keyframes glicon-spin {
  100% {
    transform: rotate(360deg);
  }
}

.glicon-sync.glicon-modifier-spin,
.glicon-loading.glicon-modifier-spin,
.glicon-gear.glicon-modifier-spin {
  /* Use steps to throttle FPS to reduce CPU usage */
  animation: glicon-spin 1.5s steps(30) infinite;
}

.glicon-modifier-disabled {
  opacity: 0.5;
}

.glicon-modifier-hidden {
  opacity: 0;
}

/* custom speed & easing for loading icon */
.glicon-loading {
  animation-duration: 1s !important;
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67) !important;
}

/*---------------------
 *  Icons
 *-------------------*/

.leo-arrow-down:before {
  content: "\f101";
}
.leo-arrow-left:before {
  content: "\f102";
}
.leo-arrow-right:before {
  content: "\f103";
}
.leo-arrow-small-down:before {
  content: "\f104";
}
.leo-arrow-small-left:before {
  content: "\f105";
}
.leo-arrow-small-right:before {
  content: "\f106";
}
.leo-arrow-small-up:before {
  content: "\f107";
}
.leo-arrow-up:before {
  content: "\f108";
}
.leo-chapter-back:before {
  content: "\f109";
}
.leo-chapter-main:before {
  content: "\f10a";
}
.leo-chapter-next:before {
  content: "\f10b";
}
.leo-chapter-select:before {
  content: "\f10c";
}
.leo-clear-files:before {
  content: "\f10d";
}
.leo-clipboard:before {
  content: "\f10e";
}
.leo-close:before {
  content: "\f10f";
}
.leo-close-server:before {
  content: "\f110";
}
.leo-collapse:before {
  content: "\f111";
}
.leo-connect:before {
  content: "\f112";
}
.leo-cut:before {
  content: "\f113";
}
.leo-dehoist:before {
  content: "\f114";
}
.leo-delete:before {
  content: "\f115";
}
.leo-demote:before {
  content: "\f116";
}
.leo-edit:before {
  content: "\f117";
}
.leo-extract:before {
  content: "\f118";
}
.leo-extract-name:before {
  content: "\f119";
}
.leo-find-next:before {
  content: "\f11a";
}
.leo-find-previous:before {
  content: "\f11b";
}
.leo-find-quick:before {
  content: "\f11c";
}
.leo-find-quick-changed:before {
  content: "\f11d";
}
.leo-find-quick-history:before {
  content: "\f11e";
}
.leo-find-quick-marked:before {
  content: "\f11f";
}
.leo-find-quick-selected:before {
  content: "\f120";
}
.leo-find-quick-timeline:before {
  content: "\f121";
}
.leo-folder:before {
  content: "\f122";
}
.leo-gear:before {
  content: "\f123";
}
.leo-hoist:before {
  content: "\f124";
}
.leo-icon-leo-fill:before {
  content: "\f125";
}
.leo-icon-leo-outline:before {
  content: "\f126";
}
.leo-import:before {
  content: "\f127";
}
.leo-insert:before {
  content: "\f128";
}
.leo-insert-child:before {
  content: "\f129";
}
.leo-link:before {
  content: "\f12a";
}
.leo-mark:before {
  content: "\f12b";
}
.leo-new-file:before {
  content: "\f12c";
}
.leo-next:before {
  content: "\f12d";
}
.leo-node:before {
  content: "\f12e";
}
.leo-open-recent:before {
  content: "\f12f";
}
.leo-parent:before {
  content: "\f130";
}
.leo-paste:before {
  content: "\f131";
}
.leo-paste-clone:before {
  content: "\f132";
}
.leo-plus:before {
  content: "\f133";
}
.leo-plus-small:before {
  content: "\f134";
}
.leo-prev:before {
  content: "\f135";
}
.leo-promote:before {
  content: "\f136";
}
.leo-redo:before {
  content: "\f137";
}
.leo-refresh:before {
  content: "\f138";
}
.leo-save:before {
  content: "\f139";
}
.leo-save-as:before {
  content: "\f13a";
}
.leo-save-as-leojs:before {
  content: "\f13b";
}
.leo-show-log:before {
  content: "\f13c";
}
.leo-sort-children:before {
  content: "\f13d";
}
.leo-sort-siblings:before {
  content: "\f13e";
}
.leo-start-server:before {
  content: "\f13f";
}
.leo-switch:before {
  content: "\f140";
}
.leo-tag:before {
  content: "\f141";
}
.leo-undo:before {
  content: "\f142";
}
.leo-unmark:before {
  content: "\f143";
}
.leo-write-at-file-nodes:before {
  content: "\f144";
}
.leo-write-dirty-at-file-nodes:before {
  content: "\f145";
}
